
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html{
    overflow-x: hidden;
  }
  body{
    background-color:lightgrey;
  }
  
  /* Navigation */
  a{
    text-decoration: none;
    color: whitesmoke;
  }
  
  ul{
    list-style: none;
  }
  
  .text-white{
    color:white
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    float:right ;
    
  }
  
  li {
    display: table-cell;
    vertical-align: middle;
    float:left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
   text-decoration: underline;
   color: black;
  }
  
  header.kontakt, header.om-os, header.kalander, header.forside{
    width:100%;
    height: 40vh;
    background-image: url('https://images.unsplash.com/photo-1639164666181-d0d9e2cee51b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
  }
  header.forside{
      height: 55vh;
  }
  .header-content span{
    color: #fc036b;
  }
  .center-title h1{
    color: white;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 30px;
    
  }
  .header-content .col-image{
    height: auto;
    overflow: hidden;
  }
  
  .header-content .col-image img{
  height: auto;
  }
  
  .header-content a{
    text-decoration: underline;
    border-radius: 30px;
    color: whitesmoke;
  }
  
  .medlemskab{
    width:75%;
    margin-left: 15%;
    background-color: white;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .medlemskab h2{
    float: left;
  }
  
  .medlemskab p {
  max-width: 700px;
  font-size: 16px;
  padding-top: 20px;
  }
  .medlemskab .row{
    width: auto;
  }
  
  .row{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .row .col {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  
  .row .col img{
    width: 300px;
    height: 400px;
  }
  
  .btn{
    padding: 8px 15px;
    background-color: #E05390;
    border-radius: 30px;
    color: whitesmoke;
  }
  
  .article, .header-content .col-content, .titleArticle, .main-content,
  .main-content2{
    margin-left: 15%;
    margin-top: 20px;
  }
  
  .article{
    background-color: white;
    padding: 40px;
    width: 55%;
    border-radius: 10px;
  }
  
  .article p{
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .btn2{
    padding: 8px 30px;
    border:2px solid #E05390;
    border-radius: 30px;
    color: whitesmoke;
    color: #E05390;
   
  }
  
  .titleArticle{
    text-transform: uppercase;
    margin-top: 90px;
  }
  
  .center-title{
    text-align: center;
    margin-top: 9%;
    color: white;
    text-transform: uppercase;
  }
  
  .main{
    margin: 0px;
    padding:0px;
  }
  .main-content{
    background-color: white;
    padding: 40px;
    width: 55%;
    border-radius: 10px;
  }
  
  .main-content p{
    max-width: 700px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .main-content2{
    background-color: white;
    width: 55%;
    border-radius: 10px;
    
  }
  
  .main-content2 .content{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
   
  }
  
  .main-content2 p{
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .main-content2 .main-image{
    margin-top: 0px;
    padding-top: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /*Aside */
  aside{
    margin-top: 130px;
    width: 19%;
    padding: 20px;
    float: right;
    background: white;
    border-radius: 10px;
    margin-right: 140px;
  }
  .aside-content .aside-image1 {
    overflow: hidden;
    width: 100px;
    height: 100px;
    float: left;
    padding-right:15px;
    border-radius: 5px;
  }
  
  .aside-content .aside-image2{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .line{
    margin: 0px -21px 20px;
    border: 0;
    border-top: 1px solid #c9c7c7;
  }
  .aside-content{
    margin-bottom: 60px;
  }
  .aside-content p{
    margin-bottom: 20px;
  }
  
  .titleAside{
    text-transform: uppercase;
    float: right;
    margin-top: 90px;
    margin-right: 90px;
  }
  
  footer{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
  footer .col-info{
    margin-left: 15%;
  }
  
  footer .col{
    padding:20px;
    max-width: 500px;
  }
  
  .col-socialmedia a i{
    padding: 10px;
  }
  .footer-icons{
    color: white;
    font-size: 20px;
  }
  
  .main .om-os, .kalander, .kontakt{
    width: 75%;
  }
  
  /* Kontakt os */
  .kontakt-form{
    padding: 70px 10%;
    width: 75%;
    margin-left: 15%;
    margin-top: 40px;
    background: white;
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
  }
  
  .kontakt-form h2{
    margin-bottom: 20px;
  }
  
  input[type=text], input[type=email],  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #E05390;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #E05391;
  }
  
  
  /* Kalander */
  .main-content2.kalander{
    /*padding: 40px;*/
  }
  .container {
    width: 100%;
    height: 100vh;
    background-color: #12121f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   }
   .btn-back, .btn-forward{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color:black;
    font-weight: bold;
    background-color: white;
}
   
   .calendar {
    width: 100%;
    height: 52rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
   }
   
   .month {
    width: 100%;
    height: 12rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-radius: 10px;
    text-align: center;
    border: 1px solid gray;
   }
   
   .month i {
    font-size: 2.5rem;
    cursor: pointer;
   }
   
   .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
   }
   
   .month p {
    font-size: 1.6rem;
   }
   
   .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    color: gray;
   }
   
   .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    
   }
   
   .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
   }
   
   .days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    color:black;
   }
   
   .days div:hover:not(.today) {
    background-color: lightpink;
    border: 0.2rem solid lightpink;
    cursor: pointer; 
    border-radius: 10%;
   }
   
   .prev-date,
   .next-date {
    opacity: 0.5;
   }
   .date h1, .date p{
       color: gray;
   }

   .today {
    background-color: pink;
   }
   
  aside{
    margin-right: 10%;
  }

  .calendar-content-btn{
    display: flex; 
    justify-content: space-between;
  }

  .calendar-content-btn button.btn-back, .calendar-content-btn button.btn-forward{
      border: 2px solid black;
      padding: 10px;
      border-radius: 20px;
      margin-left: 20px;
      margin-right: 20px;
      color:black;
      font-weight: bold;
  }
  
@media (max-width:600px)  { 
    .header-content .row, aside{
        flex-direction: column;
    }
    header.forside {
        height: 40vh;
    }
    header.om-os, header.kontakt, header.kalander{
        height: 35vh;
    }
    .header-content .col-image{
        margin-right: 9%;
    }
    .header-content .col-content{
        margin-left: 4%;
        margin-top: 71px;
    }
    .header-content .row{
        width: 96%;
    }
    .forside .center-title h1{
        font-size: 35px;
    }
    .forside .center-title {
       margin-top: 130px;
    }
    .center-title{
        margin-top: 140px;
    }
    .medlemskab{
        width: 90%;
        margin-left:6%;
    }
    .medlemskab .row, .calendar-content-btn{
        flex-direction: column;
    }

    .btn-back{
        margin-bottom: 5%;
    }
    .btn-forward{
        margin-top: 5%;
    }
    .medlemskab p{
        margin-bottom: 20px;
    }

    .line{
        margin: 0px -21px 20px;
    }

    .main .om-os{width:88%}
    .article, .main-content, .main-content2,.kontakt-form{
        margin-left: 7%;
        width: 89%; 
    }
    .titleArticle{
        margin-left: 8%;
        margin-top: 42px;
    }
    aside{
        margin-right: 4%;
        width: 90%;
        margin-top: 28px;
    }
   footer{
       height: auto;
   }
    footer .row{
        margin-top:15%;
    }
    footer .col-info{
        margin-left: 6%;
       
    }
    aside{
        margin-bottom: 10%;
    }
    .aside-content .btn2{
        padding: 8px 40px;
    }
    .main-content2.kalander{
        padding: 0px;
    }
    .calendar-container{
        width: 100%;
    }
}