body{
  background-color: green;
 }
 .navlist {
  list-style-type: none;
   margin: 0;
   padding: 0;
 
 }
 .navlist li {
 display: inline;
 float:right;
 justify-content: space-between;
 padding: 20px;
 }
 .navlist li {
  display: block;
  margin: 50px 0;
  line-height: 10px;
  background: #FFFFFF;
      margin: 0;
 }
 .navlist ul {
  background: black;
  margin: 0;
 } 
 .ul{
 
 width: 100%;
 top:80px;
 left: -100%;
 text-align: center;
 transition: all .5s;}
 .navlist ul li{
  display: block;
    margin: 50px 0;
    line-height: 10px;
 }
 
 .footer{
   
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
 }
 .footer{
  position: absolute;
  background: #0D1522;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: white;
  display: block;
 }
 .footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;}
 
  .footer{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;